* {
    margin: 0%;
    padding: 0%;
}

.heading {
    text-align: center;
    color: blue;
}

#title {
    text-align: center;
    color: blueviolet;
}

.description {
    background-image: url('../images/cox\ img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p {
    text-align: justify;
}

.shoping {
    color: crimson;
}

.food {
    color: rgb(149, 0, 255);
}