* {
    margin: 0%;
}

.heading {
    text-align: center;
    color: blue;
}

div {
    padding: 5px;
}

#title {
    text-align: center;
    color: blueviolet;
}

.description {
    padding: 5px;
    background-image: url('../images/cox\ img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: justify;
}

p {
    text-align: justify;
}

span {
    padding: 5px;
}

.shoping {
    color: crimson;
}

.food {
    color: rgb(149, 0, 255);
}